<!--https://www.egames.news/__export/1617404147991/sites/debate/img/2021/04/02/cuxles_son_las_habilidades_de_gwen_en_league_of_legends.jpg_423682103.jpg-->
<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

    <main class="container">
      <h1><%= titulo %></h1>
      <label for="buscar">Buscar Campeón</label>
      <input type="hidden" id="_csrf" name="csrf" value="<%= csrfToken %>">
      <input type="text" id="buscar" name="buscar" onkeyup="buscar()">
      <div class="row">
      <% for (let personaje of lista_personajes){ %>
        <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="<%= personaje.imagen %>">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= personaje.nombre %><i class="material-icons right">more_vert</i></span>
            <p><a href="#">...</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= personaje.nombre %><i class="material-icons right">close</i></span>
            <p>Fuente de la imagen: <%= personaje.imagen %></p>
          </div>
        </div>
        </div>  
      <% } %>
    </div>

    </main>

<%- include('partials/footer.ejs') %>

<script>
  function buscar() {
    const valor_busqueda = document.getElementById('buscar').value;
    //El token de protección CSRF
    const csrf = document.getElementById('_csrf').value;

    //función que manda la petición asíncrona
    fetch('/campeones/buscar', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'csrf-token': csrf
        },
        body: JSON.stringify(valor_busqueda)
    }).then(result => {
        return result.json(); //Regresa otra promesa
    }).then(data => {
        //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
        //...
        console.log(data);
    }).catch(err => {
        console.error(err);
    });
  }
</script>