<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main class="container">
    <h1><%= titulo %></h1>
    <form action="nuevo-campeon" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >

        <label for="nombre_campeon">Nombre de Campeón</label>
        <input type="text" name="nombre_campeon">

        <div class="file-field input-field">
            <div class="btn">
              <span>Imagen</span>
              <input type="file" name="imagen_campeon">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>

        <input type="submit" class="waves-effect waves-light btn" value="Guardar campeón">
    </form>
    <br>
</main>

<%- include('partials/footer.ejs') %>